{% extends 'layout.html' %}


{% block body_content %}
<h1>Home Page</h1>
<h2>Welcome!</h2>

{% for recipe  in recipe %}
    <div>
        <h3>{{ recipe.recipe_name }}</h3>
        <span>by <i>{{ recipe.author.first_name }} {{ recipe.author.last_name }}</i></span>
        <span>on the <i>{{ recipe.date_posted }}</i></span>
        <p>Meal Type - {{ recipe.meal_type }}</p>
	<p>Dietary Requirements - {{ recipe.dietary_requirements }}</p>
	<p>Difficulty - {{ recipe.difficulty }}</p>
	<p>Servings - {{ recipe.number_of_servings }}</p>
	<p>Ingredients - {{ recipe.ingredients }}</p>
	<p>Method - {{ recipe.method }}</p>
    </div>
    <form action={{ url_for("update", id = recipe.id) }} method="POST">
    
	    <button type="submit"> update </button>
    </form>

	<form action={{ url_for('recipe_delete', id = recipe.id) }}>
            <button type="submit">Delete your recipe</button>
	</form>
{% endfor %}	

{% endblock %}
